<section id="pasteles" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Pasteles</header>
        <%= image_tag( "pasteles1.jpg", class: "section-image" ) %>
        <a class="button button-primary section-button" href="/">Regresar</a>
      </div>
    </div>
  </div>    
</section>