<section id="postres" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Postres</header>
        <%= image_tag( "postres1.jpg", class: "section-image" ) %>   
        <a class="button button-primary section-button" href="/#postres">Regresar</a>   
      </div>
    </div>
  </div>    
</section>