<section id="galletas" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Galletas</header>
        <%= image_tag( "galletas1.jpg", class: "section-image" ) %>
      </div>
    </div>
  </div>    
</section>