<section id="panes" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Panes</header>
        <%= image_tag( "panes1.jpg", class: "section-image" ) %>      
      </div>
    </div>
  </div>    
</section>