<div class="footer">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="pedidos" class="footer-social">
          <header class="section-header">Pedidos</header>
          <header>De Lunes a Viernes de 08:00 a 14:00</header>
          <header>al <%= image_tag( "telephone.svg" ) %> (222) 321-4922 </header>
          <br>
          <header>Favor de realizarlos con 4 días de anticipación.</header>
          </div>   
      </div>
      <div class="col-md-6">
        <%= image_tag( "postres2.jpg", class: "footer-section-image" ) %>   
      </div>   
      <div class="col-md-12">
      <header class="footer-sponsored">Sponsored by RioSoft &copy;</header>  
      </div>
    </div>
  </div>

</div>