<div class="footer">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="pedidos" class="footer-social">
          <header class="section-header">Pedidos</header>
          <br>
          <header>Lunes a Viernes de 8:00 a 14:00</header>
          <header>Whatsapp (833) 111-9446 </header>
          <br>
          <header>Favor de realizar sus pedidos con 4 días de anticipación.</header>          
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag( "postres2.jpg", class: "section-image" ) %>   
      </div>   
      <div class="col-md-12">
        <header class="footer-sponsored">Sponsored by RioSoft &copy;</header>  
      </div>      
    </div>
  </div>

</div>