<div class="footer">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="pedidos" class="footer-social">
          <header class="section-header">Pedidos</header>
          <br>
          <header>Lunes a Viernes de 8:00 a 14:00</header>
          <header>Whatsapp (833) 111-9446 </header>
          <br>
          <header>Favor de realizar sus pedidos con 4 días de anticipación.</header>          
          <br>
          <br>
          <br> 
          <br>
          <header>Sponsored by RioSoft</header>
        </div>
        <div id="pedidos" class="float-footer"
          <li>
            <%= image_tag( "icon-whatsapp.png", class: "float-footer-image" ) %>
          </li>
        </div>
      </div>
    </div>
  </div>

</div>