<div class="footer">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="pedidos" class="footer-social"
          <header>Pedidos de Lunes a Viernes</header>
          <header>Whatsapp (222) 321 4922 </header>
          <br>
          <header>Sponsored by RioSoft</header>
        </div>
        <div id="pedidos" class="float-footer"
          <li>
            <%= image_tag( "icon-whatsapp.png", class: "float-footer-image" ) %>
          </li>
        </div>
      </div>
    </div>
  </div>

</div>