<div class="header">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <div class="navbar-header">
          <a class="navbar-brand" href="/">R & A Real Pastry</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          </div>

          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#galletas">Galletas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tartas">Tartas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pasteles">Pasteles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#postres">Postres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#panes">Panes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pedidos">Pedidos</a>
              </li>
            </ul>
          </div>
        </nav>

      </div>
    </div>
  </div>  

</div>